<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="DINO-CHAT">
    <meta name="description" content="This is a secure chat app that does not store any messages">
    <meta name="keywords" content="chat, dino, dinochat, secure, fast">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="theme-color" content="#030304">
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Elliot Alderson">
    <link rel='stylesheet' href='/css/main.css'>
    <link rel="shortcut icon" href="/assets/dinoico.png" type="image/x-icon">
    <script defer type="module" src="/js/app.js"></script>
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/assets/dinoico.png">
    <title>DINO CHAT</title>
</head>

<body>
    <div class="container">
        <div class="hero">
            <picture>
                <!-- <source srcset="/assets/bg.avif">
                <source srcset="/assets/bg.webp"> -->
                <img src="/assets/bg1.png" alt="Hero image" />
            </picture>
        </div>
        <div class="main">
            <nav>
                <div id="scan" class="scan">
                    <img src="/assets/qr.png" alt="">
                    <h3>SCAN</h3>
                </div>
                <div id="btn" class="install">
                    <i class="fas fa-plus-circle"></i>
                    INSTALL
                </div>
            </nav>
            <div id="cr" class="create">CREATE ROOM</div>
            <div class="sep">
                <p class="or">or</p>
            </div>
            <div class="join">
                <h1>Enter room code or scan a QR.</h1>
                <div class="input">
                    <input type="text" maxlength="6" name="room" id="code">
                    <button id="join">join</button>
                </div>
            </div>
        </div>
    </div>
    <div class="con">
        <div class="up">
            <img src="/assets/hero.png" alt="hero">
        </div>
        <div class="down">
            <div id="cr" class="create">CREATE ROOM</div>
            <div class="or">or</div>
            <div class="form">
                <h1>Enter room code or scan a QR.</h1>
                <div class="inp">
                    <input type="text" maxlength="6" name="room" id="code">
                    <img src="/assets/qr.png" alt="" id="scan" class="qr">
                </div>
                <button id="join">join</button>
            </div>
        </div>
    </div>
    <div id="ov" class="overlay">
        <div class="qcontainer">
            <div id="loadingMessage">⌛ Loading scanner...</div>
            <canvas id="canvas" hidden></canvas>
            <div id="outputMessage">No QR code detected.</div> -->
        </div>
    </div>
    <script>
        function registerServiceWorker() {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js').then(reg => {
                    console.log('Registration successful', reg);
                })
                    .catch(e => console.error('Error during service worker registration:', e));
            } else {
                console.warn('Service Worker is not supported');
            }
        }
        registerServiceWorker();
        document.getElementById('code').addEventListener('input', (e) => {
        console.log(e.target.value)
        if (e.target.value.length > 6) {
        e.target.value = e.target.value.substr(0, 6);
        }
        });
    </script>
</body>

</html>