<!-- ! test code -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="DINO-CHAT">
    <meta name="description" content="This is a secure chat app that does not store any messages">
    <meta name="keywords" content="chat, dino, dinochat, secure, fast">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="theme-color" content="#030304">
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Elliot Alderson">
    <link rel='stylesheet' href='/css/main.css'>
    <link rel="shortcut icon" href="/assets/dinoico.png" type="image/x-icon">
    <script defer type="module" src="/js/app.js"></script>
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/assets/dinoico.png">
    <title>DINO CHAT</title>
</head>

<body>
    <div class="cont">
        <label class="field">
            <input id="code" required type="text" class="field__input" placeholder="ROOM CODE" maxlength="6" />
        </label>
        <div id="jbtn">
            <button id="join" type="submit">JOIN</button>
            <button id="scan">SCAN</button>
        </div>
        <h2>OR</h2>
        <div class="create">
            <button id="cr" class="og">CREATE ROOM</button>
        </div>
    </div>
    <div id="ov" class="overlay">
        <div class="container">
            <div id="loadingMessage">⌛ Loading scanner...</div>
            <canvas id="canvas" hidden></canvas>
            <div id="outputMessage">No QR code detected.</div> -->
        </div>
    </div>
    <script>
        function registerServiceWorker() {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js').then(reg => {
                    console.log('Registration successful', reg);
                })
                    .catch(e => console.error('Error during service worker registration:', e));
            } else {
                console.warn('Service Worker is not supported');
            }
        }
        registerServiceWorker();
    </script>
</body>

</html>