@font-face {
    font-family: Open Sans;
    src: url('./open.ttf');
    font-display: swap;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-display: swap;
}
.con {
    display: none;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.hero {
    flex: 1;
    height: 100vh;
    width: 100%;
    background: #ffcd48;
    display: -ms-grid;
    display: grid;
    place-content: center;
}

.hero img {
    width: 40vw;
}

.main {
    flex: 1;
    padding: 0px 25px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.scan img {
    width: 50px;
    margin: 0px 10px 0px 0px;
}

.install {
    background: #6170F5;
    border-radius: 50px;
    padding: 10px 30px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.create {
    padding: 10px 40px;
    background: #6170F5;
    border-radius: 100vw;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    margin: 120px 0px 50px;
    cursor: pointer;
}

.sep .or {
    font-size: 20px;
}

.sep .or::after,
.sep .or::before {
    content: '';
    display: inline-block;
    margin: 0px 10px;
    background: rgba(0, 0, 0, 0.6);
    width: 15vw;
    height: 2px;
}

.join {
    margin: 40px;
}

.join h1 {
    font-weight: 400;
    font-size: 24px;
    margin: 0px 0px 30px;
    text-align: center;
}

.input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input input {
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #8ae2fff5;
    text-align: center;
    letter-spacing: 10px;
    border-radius: 100vw;
    font-size: 30px;
    font-weight: bold;
    font-family: inherit;
    width: 50%;
}

.input button {
    border: none;
    outline: none;
    font-family: inherit;
    background: #FFF454;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 28px;
    margin: 0px 20px;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    place-content: center;
    z-index: 3;
}


.qcontainer {
    height: 400px;
    width: 350px;
    border: 5px solid rgb(255, 174, 0);
    border-radius: 50px;
    overflow: hidden;
    font-family: 'Poppins',
        sans-serif;
}

#loadingMessage {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-size: 1.5rem;
    color: #eee;
    width: 100%;
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
}

.hide {
    height: 0px;
    width: 0px;
}

@media only screen and (max-width: 1160px) {
    .input {
        width: 100%;
        flex-direction: column;
    }

    .input input {
        padding: 15px 50px;
        width: 100%;
        margin: 0px 0px 20px;
    }

    .input button {
        padding: 10px 30px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        display: none;
    }

    .con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }

    .up {
        flex: 1;
        width: 100%;
    }

    .up img {
        width: 100%;
    }


    .down {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .create {
        padding: 10px 40px;
        background: #6170F5;
        border-radius: 100vw;
        font-size: 2rem;
        color: #fff;
        font-weight: 700;
        margin: 0px 0px 30px;
    }

    .or {
        margin: 0px 0px 20px;
    }

    .or::after,
    .or::before {
        content: '';
        display: inline-block;
        margin: 0px 10px;
        background: rgba(0, 0, 0, 0.6);
        width: 100px;
        height: 2px;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form h1 {
        font-weight: 400;
        font-size: 20px;
        margin: 20px;
    }

    .inp {
        position: relative;
        display: flex;
        justify-content: center;
        width: 70%;
    }

    .inp input {
        border: none;
        outline: none;
        padding: 10px 50px;
        background: #8ae2fff5;
        text-align: center;
        letter-spacing: 10px;
        border-radius: 100vw;
        font-size: 24px;
        font-weight: bold;
        font-family: inherit;
        width: 100%;
    }

    .inp .qr {
        position: absolute;
        height: 50px;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .form button {
        border: none;
        outline: none;
        font-family: inherit;
        background: #FFF454;
        border-radius: 50px;
        padding: 10px 30px;
        font-size: 20px;
        margin: 20px 0px;
    }
    .hide {
        height: 0px;
        width: 0px;
        overflow: hidden;
    }
}